---
import MarkdownLayout from "~/layouts/MarkdownLayout.astro";
import "~/assets/friends.css";
---

<MarkdownLayout
    title="朋友们"
    description="摆烂的桃Blog的友链"
    currentNav="Friends"
>
    <div class="friends">
        <!-- 复制 a 标签修改内容即可 -->
        <a target="_blank" href="https://blog.zhilu.cyou">
            <h2>纸鹿摸鱼处</h2>
            <p>纸鹿至麓不知路，支炉制露不止漉。</p>
            <img
                src="https://cdn.libravatar.org/avatar/6790d5a0c7fbba6038a2bf4618cc24d9?s=160"
            />
        </a>
        <a target="_blank" href="yunjianworld.fun">
            <h2>云间世界</h2>
            <p>顺着风的方向</p>
            <img
                src="https://q.qlogo.cn/headimg_dl?dst_uin=2098600899&spec=640&img_type=jpg"
            />
        </a>
        <a target="_blank" href="http://blog.qwq534.com/">
            <h2>跳跳熊</h2>
            <p>喜欢玩三国杀的小帅哥一枚呀<br>听说腰已经直不起来了</p>
            <img
                src="https://taolin-picture-1313126608.cos.ap-chengdu.myqcloud.com/Tiaotiaoxiong_fulina.png"
            />
        </a>
    </div>
</MarkdownLayout>
